Django==6.0.2
pymongo==4.16.0
djangorestframework
django-filter
ecs-logging
google-genai
python-dotenv
transformers>=4.30.0
torch>=2.0.0
numpy
qdrant-client
langchain
langchain-text-splitters
langchain-google-genai
langchain-qdrant
langsmith
langgraph